ion-content{

    --background:#F7F7F7;

}

.toolbar-productos{

    --background:#D88CA1;

    color:white;

}

.producto-card{

    border-radius:22px;

    overflow:hidden;

    margin-bottom:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.25s;

    position:relative;

}

.producto-card:active{

    transform:scale(.97);

}

.imagen-producto{

    height:240px;

    width:100%;

    object-fit:contain;

    background:white;

    padding:20px;

}

.oferta{

    position:absolute;

    top:15px;

    right:15px;

    background:#D88CA1;

    color:white;

    padding:6px 12px;

    border-radius:20px;

    font-size:12px;

    font-weight:bold;

}

.descripcion{

    color:#666;

    font-size:14px;

}

.precio{

    color:#D88CA1;

    font-size:28px;

    font-weight:bold;

    margin-top:15px;

}

.btn-carrito{

    margin-top:20px;

    --background:#D88CA1;

    --border-radius:14px;

}