<ion-header>

  <ion-toolbar class="toolbar-productos">

    <!-- Botón volver -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <!-- Título -->
    <ion-title>
       Productos
    </ion-title>

    <!-- Ir al carrito -->
    <ion-buttons slot="end">

      <ion-button (click)="irCarrito()">

        <ion-icon
          slot="icon-only"
          name="cart-outline">
        </ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-card
    class="producto-card"
    *ngFor="let producto of productos">

    <!-- Etiqueta de oferta -->
    <div class="oferta">

      🔥 Oferta

    </div>

    <!-- Imagen -->

    <img
      [src]="producto.image"
      [alt]="producto.title"
      class="imagen-producto">

    <ion-card-header>

      <ion-card-title>

        {{ producto.title }}

      </ion-card-title>

      <ion-card-subtitle>

        ⭐⭐⭐⭐⭐ &nbsp; {{ producto.category }}

      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <p class="descripcion">

        {{ producto.description | slice:0:90 }}...

      </p>

      <h2 class="precio">

        ${{ producto.price }}

      </h2>

      <ion-button

        expand="block"

        class="btn-carrito"

        (click)="agregarCarrito(producto)">

        <ion-icon
          slot="start"
          name="cart-outline">
        </ion-icon>

        Agregar al carrito

      </ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>