<ion-header>
  <ion-toolbar color="primary">
    <ion-title>FashionStore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1 class="titulo">
    Bienvenido a FashionStore
  </h1>

  <p>Tu tienda de ropa y zapatos.</p>

  <ion-button
    class="boton1"
    expand="block"
    routerLink="/productos">
    Ver Productos
  </ion-button>

  <ion-button
    class="boton2"
    expand="block"
    color="success"
    routerLink="/carrito">
    Mi Carrito
  </ion-button>

  <ion-button
    class="boton3"
    expand="block"
    color="tertiary"
    routerLink="/perfil">
    Mi Perfil
  </ion-button>

</ion-content>